.page {
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow:hidden;
    overscroll-behavior: none;
}
html {
    overflow-x: hidden;
}
body {
    background: #0a58ca;
    overflow-x: hidden;
}
main {
    flex: 1;
    position: fixed;
    overflow:hidden;
    overscroll-behavior: none;
}
.button:focus {
    background-color: #ff6e40;
}
